.card-img, .card-img-bottom, .card-img-top{
    height:100%;
    overflow:hidden
}
.post-thumbnail img{
    border-radius:10px
}
.grayscale.blurry * {
    filter: blur(5px);
}
.grayscale.blurry img {
    filter: blur(3px) grayscale(.8)!important;
}

.game-cover-art{
    margin-top: -16px;
    background-position: center;
    background-size: cover;
    height:60vh;
}
.game-cover-art.ps-cover-art{
height:90vh
}

.logo-dom{
    padding: 2% 10%;
}
.game-logo-image{
    /* max-height:150px; */
    max-width:450px;
}

@media (max-width:575.98px) {
    .game-cover-art{
        height:50vw;
        text-align: start!important;
    }
    .game-cover-art.ps-cover-art{
        height:62vw
        }
    .logo-dom{
        max-width: 50%;
    }
    .game-logo-image{
        max-width:33vw;
    }
}