.card-img, .card-img-bottom, .card-img-top{
    height:100%;
    overflow:hidden
}
.post-thumbnail img{
    border-radius:10px
}
.grayscale.blurry * {
    filter: blur(5px);
}
.grayscale.blurry img {
    filter: blur(3px) grayscale(.8)!important;
}