/* fireworks */
  .pyro {
    position: relative;
    top: 0;
}
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 216px -392.6666666667px #00ffb7, -160px -334.6666666667px #0400ff, 122px -22.6666666667px #00ffd9, -232px 24.3333333333px #00ff44, -237px -284.6666666667px #ff7b00, -167px -101.6666666667px #f7ff00, 61px 35.3333333333px #ee00ff, -241px -161.6666666667px #00ffc4, 204px -361.6666666667px #d5ff00, -123px -329.6666666667px #5500ff, -236px -190.6666666667px #0091ff, -163px -244.6666666667px #33ff00, -241px -340.6666666667px #00fff7, 129px -334.6666666667px #ddff00, 136px -116.6666666667px #00ff88, 59px -225.6666666667px #d500ff, 62px -233.6666666667px #48ff00, 98px -268.6666666667px #ff00aa, 244px -378.6666666667px #7700ff, 171px -284.6666666667px #00ffc4, -238px -125.6666666667px #00ff1a, -202px -250.6666666667px #ff2f00, -211px 46.3333333333px #bb00ff, -117px -329.6666666667px #00ff2f, -140px -272.6666666667px #0033ff, -144px -172.6666666667px #006aff, -135px -339.6666666667px #ff0040, 198px -91.6666666667px #eeff00, 41px -14.6666666667px yellow, -235px 10.3333333333px #0009ff, -75px 69.3333333333px #00ffa2, 24px -322.6666666667px #f200ff, 77px 52.3333333333px #ff00a6, -160px -297.6666666667px #00eeff, 151px -370.6666666667px blue, 139px -99.6666666667px #ff009d, -216px 29.3333333333px #7b00ff, -241px -332.6666666667px #00ff1e, 54px 57.3333333333px #ff6f00, -167px -250.6666666667px #00ff22, 59px -344.6666666667px #00ff37, 186px -38.6666666667px #c4ff00, 231px -312.6666666667px #ffee00, -19px -154.6666666667px #00d5ff, -5px -232.6666666667px #d000ff, 49px -122.6666666667px #00ff2f, 17px -386.6666666667px #00ff48, -202px -249.6666666667px #b700ff, 52px -288.6666666667px #00ffe1, 106px 2.3333333333px #6f00ff, 224px -15.6666666667px #009dff;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 216px -392.6666666667px #00ffb7, -160px -334.6666666667px #0400ff, 122px -22.6666666667px #00ffd9, -232px 24.3333333333px #00ff44, -237px -284.6666666667px #ff7b00, -167px -101.6666666667px #f7ff00, 61px 35.3333333333px #ee00ff, -241px -161.6666666667px #00ffc4, 204px -361.6666666667px #d5ff00, -123px -329.6666666667px #5500ff, -236px -190.6666666667px #0091ff, -163px -244.6666666667px #33ff00, -241px -340.6666666667px #00fff7, 129px -334.6666666667px #ddff00, 136px -116.6666666667px #00ff88, 59px -225.6666666667px #d500ff, 62px -233.6666666667px #48ff00, 98px -268.6666666667px #ff00aa, 244px -378.6666666667px #7700ff, 171px -284.6666666667px #00ffc4, -238px -125.6666666667px #00ff1a, -202px -250.6666666667px #ff2f00, -211px 46.3333333333px #bb00ff, -117px -329.6666666667px #00ff2f, -140px -272.6666666667px #0033ff, -144px -172.6666666667px #006aff, -135px -339.6666666667px #ff0040, 198px -91.6666666667px #eeff00, 41px -14.6666666667px yellow, -235px 10.3333333333px #0009ff, -75px 69.3333333333px #00ffa2, 24px -322.6666666667px #f200ff, 77px 52.3333333333px #ff00a6, -160px -297.6666666667px #00eeff, 151px -370.6666666667px blue, 139px -99.6666666667px #ff009d, -216px 29.3333333333px #7b00ff, -241px -332.6666666667px #00ff1e, 54px 57.3333333333px #ff6f00, -167px -250.6666666667px #00ff22, 59px -344.6666666667px #00ff37, 186px -38.6666666667px #c4ff00, 231px -312.6666666667px #ffee00, -19px -154.6666666667px #00d5ff, -5px -232.6666666667px #d000ff, 49px -122.6666666667px #00ff2f, 17px -386.6666666667px #00ff48, -202px -249.6666666667px #b700ff, 52px -288.6666666667px #00ffe1, 106px 2.3333333333px #6f00ff, 224px -15.6666666667px #009dff;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 216px -392.6666666667px #00ffb7, -160px -334.6666666667px #0400ff, 122px -22.6666666667px #00ffd9, -232px 24.3333333333px #00ff44, -237px -284.6666666667px #ff7b00, -167px -101.6666666667px #f7ff00, 61px 35.3333333333px #ee00ff, -241px -161.6666666667px #00ffc4, 204px -361.6666666667px #d5ff00, -123px -329.6666666667px #5500ff, -236px -190.6666666667px #0091ff, -163px -244.6666666667px #33ff00, -241px -340.6666666667px #00fff7, 129px -334.6666666667px #ddff00, 136px -116.6666666667px #00ff88, 59px -225.6666666667px #d500ff, 62px -233.6666666667px #48ff00, 98px -268.6666666667px #ff00aa, 244px -378.6666666667px #7700ff, 171px -284.6666666667px #00ffc4, -238px -125.6666666667px #00ff1a, -202px -250.6666666667px #ff2f00, -211px 46.3333333333px #bb00ff, -117px -329.6666666667px #00ff2f, -140px -272.6666666667px #0033ff, -144px -172.6666666667px #006aff, -135px -339.6666666667px #ff0040, 198px -91.6666666667px #eeff00, 41px -14.6666666667px yellow, -235px 10.3333333333px #0009ff, -75px 69.3333333333px #00ffa2, 24px -322.6666666667px #f200ff, 77px 52.3333333333px #ff00a6, -160px -297.6666666667px #00eeff, 151px -370.6666666667px blue, 139px -99.6666666667px #ff009d, -216px 29.3333333333px #7b00ff, -241px -332.6666666667px #00ff1e, 54px 57.3333333333px #ff6f00, -167px -250.6666666667px #00ff22, 59px -344.6666666667px #00ff37, 186px -38.6666666667px #c4ff00, 231px -312.6666666667px #ffee00, -19px -154.6666666667px #00d5ff, -5px -232.6666666667px #d000ff, 49px -122.6666666667px #00ff2f, 17px -386.6666666667px #00ff48, -202px -249.6666666667px #b700ff, 52px -288.6666666667px #00ffe1, 106px 2.3333333333px #6f00ff, 224px -15.6666666667px #009dff;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 216px -392.6666666667px #00ffb7, -160px -334.6666666667px #0400ff, 122px -22.6666666667px #00ffd9, -232px 24.3333333333px #00ff44, -237px -284.6666666667px #ff7b00, -167px -101.6666666667px #f7ff00, 61px 35.3333333333px #ee00ff, -241px -161.6666666667px #00ffc4, 204px -361.6666666667px #d5ff00, -123px -329.6666666667px #5500ff, -236px -190.6666666667px #0091ff, -163px -244.6666666667px #33ff00, -241px -340.6666666667px #00fff7, 129px -334.6666666667px #ddff00, 136px -116.6666666667px #00ff88, 59px -225.6666666667px #d500ff, 62px -233.6666666667px #48ff00, 98px -268.6666666667px #ff00aa, 244px -378.6666666667px #7700ff, 171px -284.6666666667px #00ffc4, -238px -125.6666666667px #00ff1a, -202px -250.6666666667px #ff2f00, -211px 46.3333333333px #bb00ff, -117px -329.6666666667px #00ff2f, -140px -272.6666666667px #0033ff, -144px -172.6666666667px #006aff, -135px -339.6666666667px #ff0040, 198px -91.6666666667px #eeff00, 41px -14.6666666667px yellow, -235px 10.3333333333px #0009ff, -75px 69.3333333333px #00ffa2, 24px -322.6666666667px #f200ff, 77px 52.3333333333px #ff00a6, -160px -297.6666666667px #00eeff, 151px -370.6666666667px blue, 139px -99.6666666667px #ff009d, -216px 29.3333333333px #7b00ff, -241px -332.6666666667px #00ff1e, 54px 57.3333333333px #ff6f00, -167px -250.6666666667px #00ff22, 59px -344.6666666667px #00ff37, 186px -38.6666666667px #c4ff00, 231px -312.6666666667px #ffee00, -19px -154.6666666667px #00d5ff, -5px -232.6666666667px #d000ff, 49px -122.6666666667px #00ff2f, 17px -386.6666666667px #00ff48, -202px -249.6666666667px #b700ff, 52px -288.6666666667px #00ffe1, 106px 2.3333333333px #6f00ff, 224px -15.6666666667px #009dff;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 216px -392.6666666667px #00ffb7, -160px -334.6666666667px #0400ff, 122px -22.6666666667px #00ffd9, -232px 24.3333333333px #00ff44, -237px -284.6666666667px #ff7b00, -167px -101.6666666667px #f7ff00, 61px 35.3333333333px #ee00ff, -241px -161.6666666667px #00ffc4, 204px -361.6666666667px #d5ff00, -123px -329.6666666667px #5500ff, -236px -190.6666666667px #0091ff, -163px -244.6666666667px #33ff00, -241px -340.6666666667px #00fff7, 129px -334.6666666667px #ddff00, 136px -116.6666666667px #00ff88, 59px -225.6666666667px #d500ff, 62px -233.6666666667px #48ff00, 98px -268.6666666667px #ff00aa, 244px -378.6666666667px #7700ff, 171px -284.6666666667px #00ffc4, -238px -125.6666666667px #00ff1a, -202px -250.6666666667px #ff2f00, -211px 46.3333333333px #bb00ff, -117px -329.6666666667px #00ff2f, -140px -272.6666666667px #0033ff, -144px -172.6666666667px #006aff, -135px -339.6666666667px #ff0040, 198px -91.6666666667px #eeff00, 41px -14.6666666667px yellow, -235px 10.3333333333px #0009ff, -75px 69.3333333333px #00ffa2, 24px -322.6666666667px #f200ff, 77px 52.3333333333px #ff00a6, -160px -297.6666666667px #00eeff, 151px -370.6666666667px blue, 139px -99.6666666667px #ff009d, -216px 29.3333333333px #7b00ff, -241px -332.6666666667px #00ff1e, 54px 57.3333333333px #ff6f00, -167px -250.6666666667px #00ff22, 59px -344.6666666667px #00ff37, 186px -38.6666666667px #c4ff00, 231px -312.6666666667px #ffee00, -19px -154.6666666667px #00d5ff, -5px -232.6666666667px #d000ff, 49px -122.6666666667px #00ff2f, 17px -386.6666666667px #00ff48, -202px -249.6666666667px #b700ff, 52px -288.6666666667px #00ffe1, 106px 2.3333333333px #6f00ff, 224px -15.6666666667px #009dff;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }